body {
  perspective: 2000px;
}
#app {
  width: var(--box-width);
  height: var(--box-height);
  transform-style: preserve-3d;
  animation: run 5s linear infinite;
  position: relative;
  margin: 200px auto;
}
@keyframes run {
  0%{transform: rotate3d(0,0,0,0deg);}
  25%{transform: rotate3d(0,0,1,90deg);}
  50%{transform: rotate3d(0,1,0,180deg);}
  75%{transform: rotate3d(0,1,1,270deg);}
  100%{transform: rotate3d(1,1,1,360deg);}
}
#app > div {
  width: var(--box-width);
  height: var(--box-height);
  overflow: hidden;
  position: absolute;
  transition: all 3s;
}
#app > div > img {
  width: 100%;
  height: 100%;
}
/* 上面 */
#app > div:nth-child(1) {
  transform: rotateX(90deg) translateZ(var(--translate-length));
}
/* 下面 */
#app > div:nth-child(2) {
  transform: rotateX(90deg) translateZ(calc(var(--translate-length) * -1));
}
/* 左面 */
#app > div:nth-child(3) {
  transform: rotateY(90deg) translateZ(var(--translate-length));
}
/* 右面 */
#app > div:nth-child(4) {
  transform: rotateY(90deg) translateZ(calc(var(--translate-length) * -1));
}
/* 前面 */
#app > div:nth-child(5) {
  transform: translateZ(var(--translate-length));
}
/* 后面 */
#app > div:nth-child(6) {
  transform: translateZ(calc(var(--translate-length) * -1));
}

/* 上面 */
#app:hover > div:nth-child(1) {
  transform: rotateX(90deg) translateZ(calc(var(--translate-length) * 2));
  border-radius: var(--border-radius);
}
/* 下面 */
#app:hover > div:nth-child(2) {
  transform: rotateX(90deg) translateZ(calc(var(--translate-length) * -2));
  border-radius: var(--border-radius);
}
/* 左面 */
#app:hover > div:nth-child(3) {
  transform: rotateY(90deg) translateZ(calc(var(--translate-length) * 2));
  border-radius: var(--border-radius);
}
/* 右面 */
#app:hover > div:nth-child(4) {
  transform: rotateY(90deg) translateZ(calc(var(--translate-length) * -2));
  border-radius: var(--border-radius);
}
/* 前面 */
#app:hover > div:nth-child(5) {
  transform: translateZ(calc(var(--translate-length) * 2));
  border-radius: var(--border-radius);
}
/* 后面 */
#app:hover > div:nth-child(6) {
  transform: translateZ(calc(var(--translate-length) * -2));
  border-radius: var(--border-radius);
}